<!-- component -->
<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<head th:insert="fragments/fragment::head"></head>

<body>
<div class="flex flex-col h-screen bg-gray-100">

    <div class="bg-white text-white shadow w-full p-2 flex items-center justify-between">

        <!--    Notification alert-->
        <div style="display: none !important;" id="alerts" class="flex w-full px-4 -mx-10 mt-4 absolute justify-between">
            <div class="flex">

            </div>
            <div class="flex bg-green-100 rounded-lg p-4 mb-4 text-sm text-green-700" role="alert">
                <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                          clip-rule="evenodd"></path>
                </svg>
                <div>
                    <span class="font-medium">Supprimer avec succès!</span> Le professeur à été supprimé avec succès.
                </div>
            </div>
        </div>
        <!--    End notification alert-->

        <div class="flex items-center">
            <div class="flex items-center">
                <img src="https://www.emprenderconactitud.com/img/POC%20WCS%20(1).png" alt="Logo"
                     class="w-28 h-18 mr-2">
            </div>
            <div class="md:hidden flex items-center">
                <button id="menuBtn">
                    <i class="fas fa-bars text-gray-500 text-lg"></i>
                </button>
            </div>
        </div>

        <!-- Ícono de Notificación y Perfil -->
        <div class="space-x-5">
            <button>
                <i class="fas fa-bell text-gray-500 text-lg"></i>
            </button>
            <!-- Botón de Perfil -->
            <button>
                <i class="fas fa-user text-gray-500 text-lg"></i>
            </button>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="flex-1 flex flex-wrap">
        <!-- Sidebar -->
        <div class="p-2 bg-white w-full md:w-60 flex flex-col md:flex hidden"
             th:insert="fragments/fragment::sidebar"></div>
        <!--        End Sidebar -->

        <!-- Table teacher -->
        <div class="flex-1 p-4 w-full md:w-1/2 mt-8">
            <div class="mt-8 bg-white p-4 shadow rounded-lg">
                <div class="bg-white p-4 rounded-md mt-4">
                    <div class="flex justify-between text-right mt-4">
                        <h2 class="flex text-gray-500 text-lg font-semibold pb-4">Professeurs(<span
                                th:text="${teachers.size()}"></span>)</h2>
                        <div class="text-right mt-4">
                            <a th:href="@{/teachers/add}"
                               class="bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-2 px-4 rounded">
                                Nouvel professeur
                            </a>
                        </div>
                    </div>
                    <div class="my-1"></div> <!-- Espacio de separación -->
                    <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>
                    <!-- Línea con gradiente -->
                    <table class="w-full table-auto text-sm">
                        <thead>
                        <tr class="text-sm leading-normal">
                            <th class="py-2  bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">
                                #
                            </th>
                            <th class="py-2 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">
                                Nom
                            </th>
                            <th class="py-2 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">
                                Prenom
                            </th>
                            <th class="py-2 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">
                                Matière
                            </th>
                            <th class="py-2 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">
                                Email
                            </th>
                            <th class="py-2 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="teacher:${teachers}" class="hover:bg-grey-lighter leading-normal">
                                <th th:text="${teacher.getId()}"
                                    class="py-2  bg-grey-lightest text-sm text-grey-light border-b border-grey-light"></th>
                                <th th:text="${teacher.getFirstName()}"
                                    class="py-2 bg-grey-lightest text-sm text-grey-light border-b border-grey-light"></th>
                                <th th:text="${teacher.getLastName()}"
                                    class="py-2 bg-grey-lightest text-sm text-grey-light border-b border-grey-light text-right"></th>
                                <th th:text="${teacher.getMatiere()}"
                                    class="py-2 bg-grey-lightest text-sm text-grey-light border-b border-grey-light text-right"></th>
                                <th th:text="${teacher.getEmail()}"
                                    class="py-2 bg-grey-lightest text-sm text-grey-light border-b border-grey-light text-right"></th>
                                <th class="py-2 bg-grey-lightest text-sm text-grey-light border-b border-grey-light text-right">
                                    <a th:href="@{/teachers/{id}(id=${teacher.id})}"
                                       class="bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-2 px-4 rounded">
                                        Modifier
                                    </a>
                                    <!--                                <form  method="post">-->
                                    <!-- Bouton pour ouvrir le modal supprimer -->
                                    <button onclick="openModalDelete(this.dataset.id)" th:attr="data-id=${teacher.id}"
                                            class="bg-red-500 mx-2 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded">
                                        Supprimer
                                    </button>
                                </th>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!--                Modal delete-->
                <div style="display: none !important"
                     class="min-w-screen h-screen animated fadeIn faster fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"
                     id="modal_id">
                    <div class="absolute bg-black opacity-20 inset-0 z-0"></div>
                    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
                        <!--content-->
                        <div class="">
                            <!--body-->
                            <div class="text-center p-5 flex-auto justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="w-4 h-4 -m-1 flex items-center text-red-500 mx-auto" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="w-16 h-16 flex items-center text-red-500 mx-auto" viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path fill-rule="evenodd"
                                          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                          clip-rule="evenodd"/>
                                </svg>
                                <h2 class="text-xl font-bold py-4 ">Es-tu sure?</h2>
                                <p class="text-sm text-gray-500 px-8">
                                    Voulez-vous vraiment supprimer le professeur  ?
                                    Ce processus ne peut pas être annulé
                                </p>
                            </div>
                            <!--footer-->
                            <div class="p-3  mt-2 text-center space-x-4 md:block">
                                <button onclick="closeModal()" id="btnClose"
                                        class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                                    Non
                                </button>
                                <button onclick="deleteTeacher()"
                                        class="mb-2 md:mb-0 bg-red-500 border border-red-500 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-red-600">
                                    Oui
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                End Modal delete-->
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>

    var deleteId = null;

    function openModalDelete(id) {
        console.log("ID reçu pour suppression:", id); // Affiche l'ID dans la console pour débogage
        deleteId = id;
        document.getElementById("modal_id").style.display = "flex";
    }

    function closeModal() {
        const modal = document.getElementById("modal_id");
        modal.style.display = "none";
    }

    function deleteTeacher() {
        fetch(`/teachers/delete/${deleteId}`, {
            method: 'GET',
        }).then(response => {
            if (response.ok) {
                console.log('Teacher deleted successfully');

                // Ferme le modal après la suppression
                closeModal();

                // Affiche l'alerte
                const alerts = document.getElementById("alerts");
                alerts.style.display = "flex";

                // Ajoute un délai avant de recharger la page pour que l'alerte reste visible
                setTimeout(() => {
                    location.reload(); // Recharge la page après 3 secondes
                }, 2000);
            } else {
                console.log('Error deleting teacher');
            }
        });
    }

</script>