<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragment::head"></head>

<body style="background-color: rgba(233, 238, 238, 0.459) !important">

<div class="containers" th:insert="fragments/fragment::sidebar"></div>

<!-- Student forms-->
<div class="flex">
    <div class="container-table">
        <div style="display:flex !important; justify-content:space-between !important; width:100% !important">
            <a style="display:flex; justify-content:end; color:red !important"></a>
            <a th:href="@{/teachers/add}" style="display:flex; justify-content:end; background-color:green; height:20px; color: white; border-radius: 5px; font-size: small">Nouvel élève</a>
        </div>
    </div>
    <table id="customers">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Classe</th>
            <th>matricule</th>
            <th>Age</th>
            <th>Telephone</th>
            <th>Ville</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Kone</td>
            <td>Aboubakar</td>
            <td>tle D</td>
            <td>0193883889</td>
            <td>25</td>
            <td>077995109</td>
            <td>Abidjan</td>
            <td style="display: flex; width:11rem !important">
                <a
                        th:href="@{students/update}"
                        style="
                height: 10px;
                justify-content: center;
                align-items: center;
                display: flex;
              "
                        class="btnModifier"
                >
                    Modifier
                </a>
                <button
                        onclick="openModalDelete()"
                        id="openModalDelete"
                        style="
                height: 30px;
                justify-content: center;
                align-items: center;
                display: flex;
              "
                        class="btnSupprimer"
                >
                    Supprimer
                </button>
            </td>
        </tr>
    </table>

    <!-- Modal -->
    <div id="closeModal" class="modal">
        <div class="imodal">a</div>
        <div class="modal-1">
            ATTENTION !!! <br />
            <label class="text" for="">
                Voulez-vous Supprimer cet professeur ?
            </label>
            <div class="btn">
                <button onclick="btnClose()" id="btnclose" class="btnNo">
                    Non
                </button>
                <button id="btnOpen" class="btnYes">Oui</button>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>
<!-- End Student forms-->
</body>
</html>
<script th:src="@{app.js}"></script>

<style>
    #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

